<% provide(:title, "Edit Mod") %>
<div class="jumbotron">

<div class="row">
  <div class="col-md-6 col-md-offset-3">

	<%= form_for(@mod) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :steamid %>
	  <%= f.text_field :steamid, class: 'form-control', :readonly => true %>

    <%= f.label :game_id %>
	  <%= f.text_field :game_id, class: 'form-control', :readonly => true %>

	  <%= f.label :name %>
	  <%= f.text_field :name, class: 'form-control' %>

	  <%= f.label :info %>
	  <%= f.text_field :info, class: 'form-control', :readonly => true %>

    <%= f.label :dir %>
	  <%= f.text_field :dir, class: 'form-control', :readonly => true %>

    <% if @mod.game_id.nil? %>
      <%= f.submit "Save changes", class: "btn btn-50 btn-primary pull-left" %>
  	  <%= link_to "Back", admin_hosts_url, class: "btn btn-50 btn-primary pull-right" %>
    <% else %>
      <%= f.submit "Save changes", class: "btn btn-33 btn-primary pull-left" %>
  	  <%= link_to "Go to Game", edit_game_path(@mod.game_id), class: "btn btn-33 btn-primary pull-center" %>
  	  <%= link_to "Back", admin_hosts_url, class: "btn btn-33 btn-primary pull-right" %>
    <% end %>
	<% end %>
  </div>
</div>
</div>
