<% provide(:title, "Privacy Policy")  %>
<div class="jumbotron">
<h4 class="text-center"><strong>PRIVACY POLICY</strong></h4><br />

<div class="row">
  <div class="col-md-8 col-md-offset-2">

<h5><strong>What personal information do we collect?</strong></h5>
  <ul>Information is collected using the Steam Web API and the Discord Developer API.<br />
    This information includes:<br />
    <br />
    <b>Steam:</b> UID, Display Name, Avatar URL, Profile URL, and Current Game.<br />
    <b>Discord:</b> UID, Username, Discriminator, Avatar URL.<br />
    <b>Battle.net:</b> UID and BattleTag.<br />
    <b>Twitch:</b> UID, Display Name, Avatar URL, and Twitch URL.<br />
    <br /><%= link_to "Steam Subscriber Agreement", "https://store.steampowered.com/subscriber_agreement/", :target => '_blank' %>
  </ul>

<h5><strong>When do we collect information?</strong></h5>
<ul>Discord, Steam, Twitch and Battle.net information is collected when signing in through Discord.</ul>
<ul>Steam, Twitch and Battle.net information is collected when linking the accounts using the <%= link_to "Linked Accounts", link_path %> page.</ul>
<ul>Steam Information is collected every minute for anyone who has signed in through Discord with a connected steam account.</ul>

<h5><strong>How do we use your information?</strong></h5>
  <ul>Your information is used to populate the server list to help users find games being played by others in the BYOC. Your information can also be used to enhance other community BYOC projects. Currently these projects include:
    <ul>
      <li><%= link_to 'https://qconbyoc.com', 'https://qconbyoc.com' %> displays byoc.ninja info on a searchable BYOC map.</li>
      <li>byocbot in the #quakecon channel of <%= link_to 'GameSurge', 'https://gamesurge.net' %> IRC</li>
    </ul>
  </ul>

<h5><strong>Where do we save your information?</strong></h5>
  <ul>Information is stored in a secure data center in the USA. </ul>

<h5><strong>Your Consent</strong></h5>
  <ul>The following ways will stop your information from being collected:
  <ul>
    <li>Change your <%= link_to "Steam Profile Privacy", "https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401", :target => '_blank' %> to friends only, or private.</li>
    <li>Unlink all of your linked accounts on the <%= link_to "Linked Accounts", link_path %> page after logging in.</li></ul>
  </ul>

<h5><strong>Cookies</strong></h5>
  <ul>We use cookies to save which messages have been cleared so that they are not shown again. Cookies are also used for authentication when using the Sign in through Discord feature.</ul>

<h5><strong>Third Party Links</strong></h5>
  <ul>We may display links to third party websites or services on this website. These sites have separate and independent privacy polices. We have no responsibility or liabliltiy for the content and activities on these sites.</ul>

<h5><strong>Disclaimer</strong></h5>
  <ul>This website is provided "as is", "with all faults", and "as available".</ul>

<h5><strong>Changes to our Privacy Policy</strong></h5>
  <ul>If we decide to change our privacy policy, we will post those changes on this page.<br /><br />

  2020-08-06 - Updated for Twitch integration.<br />
  2020-07-30 - Updated for Discord integration.<br />
  2018-08-04 - Added section on cookies and amended the information usage section.<br />
  2018-07-21 - Removed steam group references as those are disabled by default now.<br />
  2016-08-02 - Updated the collection section to include the seat link feature.
  </div>
</div>
</ul>
</div>
