<tr>
  <td class="text-left longtext" title="<%= game_name(host) %>">
    <%= link(host) %>
  </td>
  <td class="text-center longtext">
    <%= flags(host).html_safe %>
  </td>
  <td class="text-left longtext" title="<%= name(host) %>">
    <%= name(host) %>
  </td>
  <td class="text-right">
    <%= host.players %>
  </td>
  <td class="text-center">
    <% if host.users.size > 0 %>
      <div class="dropdown">
      <%= link_to host.users.size, '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' %>
      <ul class="dropdown-menu">
        <% host.users.each do |user| %>
          <li><%= link_to display_name(user), user.url, :target => '_blank' %></li>
        <% end %>
      </ul>
      </div>
    <% elsif host.users.size < 1 && !host.players.blank? %>
      0
    <% end %>
  </td>
  <td class="text-left longtext" title="<%= host.map %>">
    <%= decolor_name(host.map) %>
  </td>
  <td class="text-right longtext">
    <%= join(host) %>
  </td>
</tr>
