<tr>
  <td class="text-left longtext" title="<%= host.game.name %>">
    <% if host.game.steamid.length < 7 %>
      <%= link_to host.game.name, host.game.store_link, {:target => "_blank"} %>
    <% else %>
      <%= host.game.name %>
    <% end %> 
  </td>
  <td class="text-center longtext">
    <%= flags(host).html_safe %>
  </td>
  <td class="text-left longtext" title="<%= host.name %>">
    <%= host.name %>
  </td>
  <td class="text-right">
    <%= host.players %>
  </td>
  <td class="text-center">
    <div class="dropdown">
    <%= link_to host.users.size, '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' %>
    <ul class="dropdown-menu">
      <% host.users.each do |user| %>
        <li><%= link_to display_name(user), user.url, :target => '_blank' %></li>
      <% end %>
    </ul>
    </div>
  </td>
  <td class="text-left longtext" title="<%= host.map %>">
    <%= host.map %>
  </td>
  <td class="text-right">
    <%= link_to host.link_name, host.join_link %>
  </td>
</tr>