<tr>
  <td class="text-left longtext" title="<%= host.mod.nil? ? host.game.name : host.mod.name %>">
    <%= link(host.game.url, (host.mod.nil? ? host.game.name : host.mod.name), host.game.appid) %>
  </td>
  <td class="text-center longtext">
    <%= flags(host.flags).html_safe %>
  </td>
  <td class="text-left longtext" title="<%= host.name %>">
    <%= host.name %>
  </td>
  <td class="text-right">
    <%= host.players %>
  </td>
  <td class="text-center">
    <% if host.users.size > 0 %>
      <div class="dropdown">
      <%= link_to host.users.size, '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' %>
      <ul class="dropdown-menu">
        <% host.users.each do |user| %>
          <li><%= link_to user.display_handle, user.url, :target => '_blank' %></li>
        <% end %>
      </ul>
      </div>
    <% elsif host.users.size < 1 && !host.players.blank? %>
      0
    <% end %>
  </td>
  <td class="text-left longtext" title="<%= host.map %>">
    <%= host.map %>
  </td>
  <td class="text-right longtext">
    <%= join(host.game.multiplayer, host.address, host.url) %>
  </td>
</tr>
