<% provide(:title, "Edit Host")  %>
<div class="jumbotron">
<h3 class="center">Edit Host</h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

	<%= form_for(@host) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :auto_update %>
	  <%= f.select :auto_update, [['yes',true],['no',false]], {},{:class => 'form-control'} %>

	  <%= f.label :banned %>
	  <%= f.select :banned, [['yes',true],['no',false]], {},{:class => 'form-control'} %>

	  <%= f.label :pin %>
	  <%= f.select :pin, [['yes',true],['no',false]], {},{:class => 'form-control'} %>

	  <%= f.label :source %>
	  <%= f.select :source, [['auto','auto'],['manual','manual'],['byoc','byoc']], {},{:class => 'form-control'} %>

	  <%= f.label :address %>
	  <%= f.text_field :address, class: 'form-control', :readonly => true %>

	  <%= f.label :lobby %>
	  <%= f.text_field :lobby, class: 'form-control', :readonly => true %>

	  <%= f.label :steamid %>
	  <%= f.text_field :steamid, class: 'form-control', :readonly => true %>

	  <%= f.label :name %>
	  <%= f.text_field :name, class: 'form-control' %>

	  <%= f.label :network %>
	  <%= f.collection_select :network_id, Network.all, :id, :name_cidr, {:include_blank => false},{:class => 'form-control'} %>

	  <%= f.label :map %>
	  <%= f.text_field :map, class: 'form-control' %>

	  <%= f.label :query_port %>
	  <%= f.text_field :query_port, class: 'form-control' %>

	  <%= f.label :last_successful_query %>
	  <%= f.text_field :last_successful_query, class: 'form-control', :readonly => true  %>

	  <%= f.submit "Save changes", class: "btn btn-33 btn-primary pull-left" %>
	  <%= link_to "Go to Game", edit_game_path(@host.game_id), class: "btn btn-33 btn-primary pull-center" %>
	  <%= link_to "Back", admin_hosts_url, class: "btn btn-33 btn-primary pull-right" %>
	<% end %>
  </div>
</div>
</div>