<% provide(:title, "Add Host")  %>
<div class="jumbotron">
	<h3 class="center">Add Host</h3>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">

		<%= form_for(@host) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>

		  <%= f.label :game %>
		  <%= f.collection_select :game_id, Game.all.order(name: :asc), :id, :name, {:include_blank => false},{:class => 'form-control'} %>

		  <%= f.label :name %>
		  <%= f.text_field :name, class: 'form-control' %>

		  <%= f.label :address %>
		  <%= f.text_field :address, class: 'form-control' %>

		  <%= f.label :network %>
		  <%= f.collection_select :network_id, Network.all, :id, :name_cidr, {:include_blank => false},{:class => 'form-control'} %>

		  <%= f.submit "Save changes", class: "btn btn-50 btn-primary pull-left" %>
		  <%= link_to "Back", messages_url, class: "btn btn-50 btn-primary pull-right" %>
		<% end %>
	  </div>
	</div>
</div>
