<% provide(:title, "Settings")  %>
<div class="jumbotron">
  <h3 class="center">Edit User</h3>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">

    <% if current_user.admin? %>
      <%= form_for(@user) do |f| %>
        <%= label(:user, :identities) %>

        <table class="table table-striped table-condensed games">
          <thead>
            <tr>
              <th class="col-md-3 text-left">Provider</th>
              <th class="col-md-3 text-center">UID</th>
              <th class="col-md-3 text-right">Name</th>
            </tr>
          </thead>
          <tbody>
            <% @user.identities.each do |i| %>
            <tr>
              <td class="text-left"><%= i.provider %></td>
              <td class="text-center"><%= i.uid %></td>
              <td class="text-right"><%= i.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :handle %>
    	  <%= f.text_field :handle, class: 'form-control' %>

        <%= f.label :clan %>
    	  <%= f.text_field :clan, class: 'form-control' %>

        <%= f.label "Display game information" %>
        <%= f.select :display, [[:yes,true],[:no,false]], {},{:class => 'form-control'} %>

        <%= f.label :seat %>
        <%= f.collection_select :seat_id, @seats, :id, :seat, {:include_blank => true},{:class => 'form-control longtext'} %>

        <%= f.label :banned %><br />
        <%= f.select :banned, [[:yes,true],[:no,false]], {},{:class => 'form-control', :disabled => true} %>

        <%= f.label :auto_update %>
        <%= f.select :auto_update, [[:yes,true],[:no,false]], {},{:class => 'form-control'} %>

        <%= f.submit "Save changes", class: "btn btn-50 btn-primary pull-left" %>
        <%= link_to "Back", users_url, class: "btn btn-50 btn-primary pull-right" %>

        <% if @user.banned? %>
          <%= button_to("Unban", unban_user_path(@user), :method => :post, :class => "btn btn-primary")%>
        <% else %>
          <%= button_to("Ban", ban_user_path(@user), :method => :post, :class => "btn btn-primary")%>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
