<script type="text/javascript">

	$(document).ready(function() {
		$("#user_seat_id option").filter(function() {
			return $(this).val() == $("#seat").val();		
		}).attr('selected', true);

		$("#user_seat_id").on("change", function() {
			$("#seat").val($(this).find("option:selected").text().substring(0,6));
		});
	});

</script>

<% provide(:title, "Seat Link")  %>
<div class="jumbotron">
<h3 class="center">Link your seat to your steam account!</h3>
<br />
<p></p>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		<%= form_tag(seat_path, method: "get") do %>
		  <%= hidden_field :link, "true" %>

		  <%= label_tag "1) Select your seat:" %>
		  <%= collection_select :user, :seat_id, @seats, :id, :seat_clan_handle, {:include_blank => true},{:class => 'form-control'} %>

			<%= label_tag "2) Paste your Steam profile URL here:" %>		  
		  <%= text_field_tag(:url, nil, :class => 'form-control') %>

		  <%= label_tag "3) Paste this code anywhere in the summary of your Steam Profile:" %>
		  <%= text_field_tag(:seat, nil, :readonly => true, :class => 'form-control') %>

		  <%= label_tag "4) Click this button:" %>
		  <%= submit_tag("Click me!", class: "btn btn-primary") %>


		  <br /><br /><h5>
		  Link your seat to help other people find games being played in the BYOC!<br/>
		  Your seat and handle will display instead of your steam name.<br />
		  <br />
		  Steam profile urls have to be in the either of the following formats:<br/>
			http://steamcommunity.com/id/name<br />
			http://steamcommunity.com/profiles/#############<br>
			<br />
			The seat code can go anywhere in the summary section of your steam profile.<br/>
			After your seat is linked you can remove the seat code from your summary.<br/>
			<br />
			Don't worry if the name next to the seat is incorrect.<br />
			Seat information is updated hourly and will be fixed on the next update.</h5>
		<% end %>
	  </div>
	</div>
</div>