<script type="text/javascript">

	$(document).ready(function() {


    var section = "";
		var row = "";
		var seat = "";

		$('#section').change(function(){
			section = $(this).val();
      $("#row").empty();
			$("#number").empty();
			$.get("/lookup.json", {section: section}, function(data){
				$("#row").html("");
				$.each(data, function(index, value) {
					$("#row").append("<option value='" + value + "'>" + value + "</option>");
				});
				$("#row").prepend("<option value='' selected='selected'></option>");
			});
		});

		$('#row').change(function(){
			row = $(this).val();
      $("#number").empty();
			$.get("/lookup.json", {row: row, section: section}, function(data){
				$("#number").html("");
				$.each(data, function(index, value) {
					$("#number").append("<option value='" + value.seat + "'>" + value.number + "</option>");
				});
				$("#number").prepend("<option value='' selected='selected'></option>");
			});
		});

		$('#number').change(function(){
			seat = $(this).val();
			$("#seat").val(seat);
		});

	});
</script>

<% provide(:title, "Seat Link")  %>
<div class="jumbotron">
<h3 class="center">Link your seat to your steam account!</h3>
<br />
<p></p>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		<%= form_tag(seat_path, method: "get") do %>
		  <%= hidden_field :link, "true" %>

		  <%= label_tag "1) Select your seat:" %>
			<div class="row">
        <div class="col-sm-4">
      <%= select_tag "section", options_for_select(@sections), :include_blank => true, id: "section", class: "form-control" %>
		</div>
		<div class="col-sm-4">
			<%= select_tag "row", "", id: "row", class: "form-control" %>
		</div>
		<div class="col-sm-4">
			<%= select_tag "number", "", id: "number", class: "form-control" %>
			</div>
			</div>

			<%= label_tag "2) Paste your Steam profile URL here:" %>
		  <%= text_field_tag(:url, nil, :class => 'form-control') %>

		  <%= label_tag "3) Paste this code anywhere in the summary of your Steam Profile:" %>
		  <%= text_field_tag(:seat, nil, :readonly => true, :class => 'form-control') %>

		  <%= label_tag "4) Click this button:" %>
		  <%= submit_tag("Click me!", class: "btn btn-primary") %>


		  <br /><br /><h5>
		  Link your seat to help other people find games being played in the BYOC!<br/>
		  <br />
		  Steam profile urls have to be in the either of the following formats:<br/>
			https://steamcommunity.com/id/name<br />
			https://steamcommunity.com/profiles/#############<br>
			<br />
			Your steam profile needs to be set to public before your seat can be linked.
			<br /><br />
			You can remove the seat code from your summary after your seat is linked.
		  </h5>
		<% end %>
	  </div>
	</div>
</div>
