<script type="text/javascript">

	$(document).ready(function() {

    var section = "";
		var row = "";
		var seat = "";

		$('#section').change(function(){
			section = $(this).val();
      $("#row").empty();
			$("#number").empty();
			$("#number").append("<option value='' selected='selected'>Seat</option>");
			$.get("/lookup.json", {section: section}, function(data){
				$("#row").html("");
				$.each(data, function(index, value) {
					$("#row").append("<option value='" + value + "'>" + value + "</option>");
				});
				$("#row").prepend("<option value='' selected='selected'>Row</option>");
			});
			setSeat();
		});

		$('#row').change(function(){
			row = $(this).val();
      $("#number").empty();
			$.get("/lookup.json", {row: row, section: section}, function(data){
				$("#number").html("");
				$.each(data, function(index, value) {
					$("#number").append("<option value='" + value.seat + "'>" + value.number + "</option>");
				});
				$("#number").prepend("<option value='' selected='selected'>Seat</option>");
			});
			setSeat();
		});

		$('#number').change(function(){
			seat = $(this).val();
		});

		$('')

		$('#discord_submit').click(function(){
			var seatVal = $("#number").val();
			$('#discord_form').attr('action', function(i,value) {
				return value + "?seat=" + seatVal + "&qconbyoc=TEST";
			});
		});
	});

</script>

<% provide(:title, "Link your BYOC seat to Discord!")  %>
<div class="jumbotron">
<h3 class="center">Link your BYOC seat to your Discord, and more!</h3>
<br />
<p></p>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
      When signing in through Discord, any Steam or Battle.net account that is connected to your Discord with "Display on profile" enabled will also be linked to your BYOC Seat!<br /><br />
      <br />
			<%= form_tag('/auth/discord', method: :post, id: "discord_form") do %>
			  <div class="row">
	        <div class="col-sm-4">
			      <%= select_tag "section", options_for_select(@sections), :prompt => "Section", id: "section", class: "form-control" %>
					</div>
					<div class="col-sm-4">
						<%= select_tag "row", "", :prompt => "Row", id: "row", class: "form-control" %>
					</div>
					<div class="col-sm-4">
						<%= select_tag "number", "", :prompt => "Seat", id: "number", class: "form-control" %>
					</div>
				</div>

				<%= submit_tag("Sign in with Discord!", class: "btn btn-primary", id: "discord_submit") %>
			<% end %>
		</div>
	</div>
</div>
