<% provide(:title, "Edit Identity") %>
<div class="jumbotron">

<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<div class="container center">
			<%= display_avatar(@identity.avatar, @identity.url) %>
		</div>

		<%= form_for(@identity) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>

			<%= f.label :provider %>
		  <%= f.text_field :provider, class: 'form-control', :readonly => true %>

		  <%= f.label :uid %>
		  <%= f.text_field :uid, class: 'form-control', :readonly => true %>

		  <%= f.label :name %>
		  <%= f.text_field :name, class: 'form-control' %>

			<%= f.label :url %>
		  <%= f.text_field :url, class: 'form-control' %>

	    <%= f.label :avatar %>
		  <%= f.text_field :avatar, class: 'form-control' %>

		  <%= f.label :enabled %>
		  <%= f.select :enabled, [[:yes,true],[:no,false]], {},{:class => 'form-control'} %>

			<%= f.label :banned %>
		  <%= f.select :banned, [[:yes,true],[:no,false]], {},{:class => 'form-control', :disabled => true} %>

		  <%= f.submit "Save changes", class: "btn btn-33 btn-primary pull-left" %>
		  <%= link_to "Delete", @identity, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-33 btn-primary" %>
      <% if @identity.user.present? %>
        <%= link_to "Go To User", edit_user_path(@identity.user), class: "btn btn-33 btn-primary pull-right" %>
      <% else %>
        <%= link_to "Back", identities_url, class: "btn btn-33 btn-primary pull-right" %>
      <% end %>
	  <% end %>
    <% if @identity.banned? %>
      <%= button_to("Unban", unban_identity_path(@identity), :method => :post, :class => "btn btn-primary")%>
    <% else %>
      <%= button_to("Ban", ban_identity_path(@identity), :method => :post, :class => "btn btn-primary")%>
    <% end %>
  </div>
</div>
</div>
