<% provide(:title, "Linked Accounts")  %>
<div class="jumbotron">
  <h3 class="center">Linked Accounts</h3>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <table class="table table-striped table-condensed games">
        <thead>
          <tr>
            <th class="col-md-2 text-left">Account</th>
            <th class="col-md-5 text-center">Name</th>
            <th class="col-md-2 text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <% Identity.providers.without(:discord).each do |p| %>
            <tr>
              <td class="text-left"><%= p[0] %></td>
              <td class="text-center"><%= provider_name(p[0], @identities) %></td>
              <td class="text-right"><%= provider_unlink(p[0], @identities) %></td>
            </tr>
          <% end %>
          <td class="text-left">
            <%= qconbyoc_link("qconbyoc",@seat) %>
          </td>
          <td class="text-center">
            <%= qconbyoc_link(@seat, @seat) if @seat.present? %>
          </td>
          <td class="text-right">
            <%= qconbyoc_unlink(@seat) %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
