<% provide(:title, "Link your BYOC seat to Discord!")  %>
<div class="jumbotron">
  <% if @invalid.present? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="center">Invalid seat!</h3>
        <br />
        <%= button_to("Return to qconbyoc.com", "https://qconbyoc.com", :method => :get, :class => "btn btn-primary")%>
      </div>
    </div>
  <% elsif @taken.present? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="center">Seat is taken by <%= @taken %></h3>
      <br />
      <%= button_to("Return to qconbyoc.com", "https://qconbyoc.com", :method => :get, :class => "btn btn-primary")%>
    </div>
  </div>
  <% else %>
    <% if @seat.present? %>
      <h1 class="center"><%= @seat.seat %></h1>
    <% end %>
    <h3 class="center">Link your BYOC seat to your Discord, and more!</h3>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <br />
        When signing in through Discord, any Steam, Battle.net, or Twitch account that is connected to your Discord with "Display on profile" enabled will also be linked to your BYOC Seat!<br /><br />
        <br />
        <% if @seat.present? %>
          <%= button_to("Sign in with Discord!", "/auth/discord?seat=#{@seat.seat}&uid=#{@uid}", :method => :post, :class => "btn btn-primary")%>
        <% else %>
          <%= button_to("Sign in with Discord!", "/auth/discord", :method => :post, :class => "btn btn-primary")%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
