<% provide(:title, "Edit Protocol")  %>
<div class="jumbotron">
<h3 class="center">Edit Protocol</h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

	<%= form_for(@protocol) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :name %>
	  <%= f.text_field :name, class: 'form-control', :disabled => true %>

	  <%= f.label :protocol %>
	  <%= f.text_field :protocol, class: 'form-control', :disabled => true %>

	  <%= f.label :host %>
	  <%= f.text_field :host, class: 'form-control' %>

	  <%= f.label :map %>
	  <%= f.text_field :map, class: 'form-control' %>

	  <%= f.label :num %>
	  <%= f.text_field :num, class: 'form-control' %>

	  <%= f.label :max %>
	  <%= f.text_field :max, class: 'form-control' %>

	  <%= f.label :pass %>
	  <%= f.text_field :pass, class: 'form-control' %>

	  <%= f.label :port %>
	  <%= f.text_field :port, class: 'form-control' %>

	  <%= f.label :players %>
	  <%= f.text_field :players, class: 'form-control' %>

	  <%= f.label 'player name' %>
	  <%= f.text_field :playername, class: 'form-control' %>

	  <%= f.submit "Save changes", class: "btn btn-50 btn-primary pull-left" %>
	  <%= link_to "Back", protocols_url, class: "btn btn-50 btn-primary pull-right" %>
	<% end %>
  </div>
</div>
</div>