<div class="row">
  <div class="col-sm-12">
  <small>
  <div class="pull-left">
    <%= link_to "How it works", how_it_works_path %> |
    <%= link_to 'Link your seat', seat_path %> |
    <%= link_to "Games", games_path %> |
    Source available on <%= link_to "GitHub", "https://github.com/wdeasy/byoc.ninja", :target => "_blank" %>
</div>
  <div class="pull-right">
    This site is not affiliated with Valve or Steam. |
    <%= link_to "Powered by Steam", "https://store.steampowered.com" %> |
    <%= link_to "Privacy Policy", privacy_policy_path %> |
    <%= link_to "Contact", new_contact_path %>
  </div>
  </small>
  </div>
</div>
