
<div class="row">
  <div class="col-sm-12">
  <small>
	<div class="pull-left">
	  Current games being played in the  <%= link_to "Quakecon™ Steam Group", "http://steamcommunity.com/groups/Quakecon-PeaceLoveRockets", :target => '_blank' %>.
	  Click <%= link_to "here", "steam://url/GroupSteamIDPage/103582791432330298" %> to join!
    <br />
    Useful links: <a href="http://pixel5.us/quakecon/byoc" target="_blank">BYOC Map</a> | 
                  <a href="http://community.quakecon.org" target="_blank">Community Site</a> | 
                  <a href="http://www.qconforums.com" target="_blank">QconForums</a> |                
                  <a href="http://reddit.com/r/quakecon" target="_blank">/r/Quakecon</a> |     
                  <a href="http://chat.mibbit.com/?server=irc.web.gamesurge.net&channel=%23quakecon" target="_blank">#quakecon</a>

  </div>
	<div class="pull-right">
    This site is not affiliated with Valve or Steam. |
    <%= link_to "Powered by Steam", "http://steampowered.com" %> | 
    <%= link_to "Privacy Policy", privacy_policy_path %> | 
    <%= link_to "Contact", new_contact_path %>

                
  </div>
  </small>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61551715-1', 'auto');
  ga('send', 'pageview');

</script>  