<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
  <div class="container">
    <%= link_to "byoc.ninja", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<% if logged_in? %>
      	  <li class='dropdown'>
      	  	<%= link_to '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
              <%= display_name(current_user) %>
      	  	<% end %>
      	    <ul class='dropdown-menu'>
              <% if logged_in? && current_user.admin? %>
                <%= render 'layouts/admin' %>
              <% end %>
              <li><%= link_to "Link your Seat", seat_path %></li>
      	      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
      	      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      	    </ul>
      	  </li>
        <% else %>
          <li>
            <%= link_to 'LINK YOUR SEAT', seat_path, :class => '' %>
          </li>
      	<% end %>
      </ul>
    </nav>
  </div>
</div>
</header>
