<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>  
  </head>
  <body>
    <script>
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
      });
    </script>
    <%= render 'layouts/header' %>
    <% if logged_in? && current_user.admin? %>
      <%= render 'layouts/admin' %>
    <% end %> 
    <div class="container">    
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>    
      </div>               
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>