<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'layouts/favicon' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Bangers|Orbitron' rel='stylesheet' type='text/css'>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <script>
      $(document).on('ready page:load', function () {
        $('.dropdown-toggle').dropdown();
      });
    </script>
    <%= render 'layouts/header' %>
    <div class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
            <%= link_to "#", remote: true, :class => "close alert-link", "data-dismiss": "alert" do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
